In [1]:
import acquire
import prepare

import pandas as pd
import numpy as np

import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:20,.2f}'.format

In [19]:
df = acquire.get_zillow()

In [4]:
def summarize(df):
    print('DataFrame head: \n')
    print(df.head(3))
    print('--------------')
    print('Shape:   ', df.shape)
    print('---------------')
    print('Info:    \n')
    df.info()
    print('---------------')
    print(df.describe())

In [5]:
summarize(df)

DataFrame head:

   parcelid  basementsqft            bathrooms             bedrooms  \
0  14297519           NaN                 3.50                 4.00
1  17052889           NaN                 1.00                 2.00
2  14186244           NaN                 2.00                 3.00

     calculatedbathnbr  finishedfloor1squarefeet  \
0                 3.50                       NaN
1                 1.00                  1,465.00
2                 2.00                       NaN

   calculatedfinishedsquarefeet  finishedsquarefeet12  finishedsquarefeet13  \
0                      3,100.00              3,100.00                   NaN
1                      1,465.00              1,465.00                   NaN
2                      1,243.00              1,243.00                   NaN

   finishedsquarefeet15  ...   censustractandblock             logerror  \
0                   NaN  ... 60,590,630,072,012.00                 0.03
1                   NaN  ... 61,110,010,023,006.00                 0.06
2                   NaN  ... 60,590,218,022,012.00                 0.01

   transactiondate  airconditioningdesc  architecturalstyledesc  \
0       2017-01-01                  NaN                     NaN
1       2017-01-01                  NaN                     NaN
2       2017-01-01                  NaN                     NaN

   buildingclassdesc  heatingorsystemdesc  storydesc  \
0                NaN                  NaN        NaN
1                NaN                  NaN        NaN
2                NaN                  NaN        NaN

         propertylandusedesc  typeconstructiondesc
0  Single Family Residential                   NaN
1  Single Family Residential                   NaN
2  Single Family Residential                   NaN

[3 rows x 58 columns]
--------------
Shape:    (77414, 58)
---------------
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77414 entries, 0 to 77413
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77414 non-null  int64
 1   basementsqft                  50 non-null     float64
 2   bathrooms                     77381 non-null  float64
 3   bedrooms                      77381 non-null  float64
 4   calculatedbathnbr             76772 non-null  float64
 5   finishedfloor1squarefeet      6023 non-null   float64
 6   calculatedfinishedsquarefeet  77185 non-null  float64
 7   finishedsquarefeet12          73749 non-null  float64
 8   finishedsquarefeet13          41 non-null     float64
 9   finishedsquarefeet15          3009 non-null   float64
 10  finishedsquarefeet50          6023 non-null   float64
 11  finishedsquarefeet6           386 non-null    float64
 12  fips                          77381 non-null  float64
 13  fireplacecnt                  8276 non-null   float64
 14  fullbathcnt                   76772 non-null  float64
 15  garagecarcnt                  25474 non-null  float64
 16  garagesqft                    25474 non-null  float64
 17  hashottuborspa                1538 non-null   float64
 18  latitude                      77381 non-null  float64
 19  longitude                     77381 non-null  float64
 20  lotsize                       69142 non-null  float64
 21  poolcnt                       16137 non-null  float64
 22  poolsizesum                   867 non-null    float64
 23  pooltypeid10                  464 non-null    float64
 24  pooltypeid2                   1074 non-null   float64
 25  pooltypeid7                   15042 non-null  float64
 26  propertycountylandusecode     77381 non-null  object
 27  propertyzoningdesc            50331 non-null  object
 28  rawcensustractandblock        77381 non-null  float64
 29  regionidcity                  75910 non-null  float64
 30  regionidcounty                77381 non-null  float64
 31  regionidneighborhood          30890 non-null  float64
 32  regionidzip                   77331 non-null  float64
 33  roomcnt                       77381 non-null  float64
 34  threequarterbathnbr           10096 non-null  float64
 35  unitcnt                       50563 non-null  float64
 36  yardbuildingsqft17            2388 non-null   float64
 37  yardbuildingsqft26            70 non-null     float64
 38  yearbuilt                     77118 non-null  float64
 39  numberofstories               17560 non-null  float64
 40  fireplaceflag                 172 non-null    float64
 41  structuretaxvaluedollarcnt    77269 non-null  float64
 42  tax_value                     77380 non-null  float64
 43  assessmentyear                77381 non-null  float64
 44  landtaxvaluedollarcnt         77379 non-null  float64
 45  taxamount                     77376 non-null  float64
 46  taxdelinquencyflag            2886 non-null   object
 47  taxdelinquencyyear            2886 non-null   float64
 48  censustractandblock           77137 non-null  float64
 49  logerror                      77414 non-null  float64
 50  transactiondate               77414 non-null  object
 51  airconditioningdesc           24953 non-null  object
 52  architecturalstyledesc        206 non-null    object
 53  buildingclassdesc             15 non-null     object
 54  heatingorsystemdesc           49440 non-null  object
 55  storydesc                     50 non-null     object
 56  propertylandusedesc           77381 non-null  object
 57  typeconstructiondesc          222 non-null    object
dtypes: float64(46), int64(1), object(11)
memory usage: 34.3+ MB
---------------
                  parcelid         basementsqft            bathrooms  \
count            77,414.00                50.00            77,381.00
mean         13,006,698.31               679.72                 2.30
std           3,480,689.67               689.70                 1.00
min          10,711,855.00                38.00                 0.00
25%          11,538,337.00               273.00                 2.00
50%          12,530,715.00               515.00                 2.00
75%          14,211,485.50               796.50                 3.00
max         167,689,317.00             3,560.00                18.00

                  bedrooms    calculatedbathnbr  finishedfloor1squarefeet  \
count            77,381.00            76,772.00                  6,023.00
mean                  3.05                 2.32                  1,366.51
std                   1.14                 0.98                    671.31
min                   0.00                 1.00                     44.00
25%                   2.00                 2.00                    955.00
50%                   3.00                 2.00                  1,257.00
75%                   4.00                 3.00                  1,615.00
max                  16.00                18.00                  6,912.00

       calculatedfinishedsquarefeet  finishedsquarefeet12  \
count                     77,185.00             73,749.00
mean                       1,785.22              1,760.52
std                          954.05                934.02
min                          128.00                128.00
25%                        1,182.00              1,172.00
50%                        1,543.00              1,523.00
75%                        2,113.00              2,076.00
max                       35,640.00             21,929.00

       finishedsquarefeet13  finishedsquarefeet15  ...      numberofstories  \
count                 41.00              3,009.00  ...            17,560.00
mean               1,389.85              2,357.79  ...                 1.43
std                  123.53              1,188.78  ...                 0.54
min                1,056.00                598.00  ...                 1.00
25%                1,344.00              1,625.00  ...                 1.00
50%                1,440.00              2,094.00  ...                 1.00
75%                1,440.00              2,838.00  ...                 2.00
max                1,560.00             35,640.00  ...                 6.00

             fireplaceflag  structuretaxvaluedollarcnt            tax_value  \
count               172.00                   77,269.00            77,380.00
mean                  1.00                  189,314.53           490,134.48
std                   0.00                  230,087.42           653,443.97
min                   1.00                       44.00             1,000.00
25%                   1.00                   84,265.00           207,000.00
50%                   1.00                  136,499.00           358,975.50
75%                   1.00                  218,787.00           569,001.50
max                   1.00               11,421,790.00        49,061,236.00

            assessmentyear  landtaxvaluedollarcnt            taxamount  \
count            77,381.00              77,379.00            77,376.00
mean              2,016.00             301,095.41             5,995.53
std                   0.00             492,596.03             7,622.84
min               2,016.00                 161.00                19.92
25%               2,016.00              85,504.00             2,715.63
50%               2,016.00             203,372.00             4,450.69
75%               2,016.00             366,796.50             6,927.79
max               2,016.00          48,952,198.00           586,639.30

        taxdelinquencyyear    censustractandblock             logerror
count             2,886.00              77,137.00            77,414.00
mean                 14.09  60,496,733,646,264.13                 0.02
std                   2.19   1,535,241,981,138.57                 0.17
min                   3.00  60,371,011,101,000.00                -4.66
25%                  14.00  60,373,109,005,002.00                -0.02
50%                  15.00  60,376,032,003,008.00                 0.01
75%                  15.00  60,590,423,251,008.00                 0.04
max                  99.00 483,030,105,084,015.00                 5.26

[8 rows x 47 columns]

In [6]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing' : prcnt_miss})
    rows_missing = rows_missing.reset_index().groupby(['num_cols_missing',
                'percent_cols_missing']).count().reset_index().rename(columns={'index' : 'count'})
    return rows_missing

In [7]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    prcnt_miss = num_missing / df.shape[0] * 100
    
    cols_missing = pd.DataFrame({'num_rows_missing' : num_missing,
                                 'percent_rows_missing' : prcnt_miss})
    return cols_missing

In [45]:
nulls_by_col(df)

                              num_rows_missing  percent_rows_missing
parcelid                                     0                  0.00
bathrooms                                    0                  0.00
bedrooms                                     0                  0.00
calculatedbathnbr                          123                  0.24
calculatedfinishedsquarefeet                69                  0.13
finishedsquarefeet12                       234                  0.45
fips                                         0                  0.00
fullbathcnt                                123                  0.24
latitude                                     0                  0.00
longitude                                    0                  0.00
lotsize                                    360                  0.69
propertycountylandusecode                    0                  0.00
propertyzoningdesc                       18550                 35.46
rawcensustractandblock                       0                  0.00
regionidcity                              1031                  1.97
regionidcounty                               0                  0.00
regionidzip                                 23                  0.04
roomcnt                                      0                  0.00
unitcnt                                  18546                 35.46
yearbuilt                                  102                  0.19
structuretaxvaluedollarcnt                  77                  0.15
tax_value                                    1                  0.00
assessmentyear                               0                  0.00
landtaxvaluedollarcnt                        1                  0.00
taxamount                                    4                  0.01
censustractandblock                        112                  0.21
logerror                                     0                  0.00
transactiondate                              0                  0.00
heatingorsystemdesc                      18458                 35.29
propertylandusedesc                          0                  0.00

In [42]:
nulls_by_row(df)

    num_cols_missing  percent_cols_missing  count
0                 18                 31.03      6
1                 19                 32.76     48
2                 20                 34.48    248
3                 21                 36.21    426
4                 22                 37.93    456
5                 23                 39.66    988
6                 24                 41.38   4244
7                 25                 43.10   6897
8                 26                 44.83   7456
9                 27                 46.55  16484
10                28                 48.28  13230
11                29                 50.00   1441
12                30                 51.72    257
13                31                 53.45     42
14                32                 55.17     18
15                33                 56.90      6
16                34                 58.62      7
17                35                 60.34      9
18                36                 62.07     47
19                37                 63.79      6
20                38                 65.52      1
21                39                 67.24      1
22                40                 68.97      2

In [32]:
def single_family(df):
    df=df[df.propertylandusedesc == 'Single Family Residential']
    df=df[df.unitcnt <= 1]

In [33]:
df.propertylandusedesc.value_counts()

Single Family Residential    52320
Name: propertylandusedesc, dtype: int64

In [34]:
single_family(df)

In [37]:
df.shape

(52320, 58)

In [1]:
def handle_missing_values(df, prop_required_column=.5, prop_required_row=.75):
    threshold = int(round(prop_required_column * len(df.index), 0))
    df = df.dropna(axis=1, thresh = threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh = threshold)
    return df

In [2]:
df = handle_missing_values(df)

NameError: name 'df' is not defined

In [1]:
import wrangle_mall
import acquire
import prepare

from sklearn.preprocessing import MinMaxScaler


import pandas as pd
import numpy as np

In [2]:
df = wrangle_mall.get_mallcustomer_data()
df.shape

(200, 4)

In [3]:
df = wrangle_mall.detect_outliers(df)
df.shape

(198, 4)

In [4]:
df = wrangle_mall.mall_dummies(df)
df

             age  annual_income  spending_score  Male
customer_id
1             19             15              39     1
2             21             15              81     1
3             20             16               6     0
4             23             16              77     0
5             31             17              40     0
...          ...            ...             ...   ...
194           38            113              91     0
195           47            120              16     0
196           35            120              79     0
197           45            126              28     0
198           32            126              74     1

[198 rows x 4 columns]

In [5]:
train, validate, test = wrangle_mall.split_mall(df)

In [6]:
s_train, s_validate, s_test = wrangle_mall.mall_scaler(train, validate, test)

In [8]:
s_validate

                  age  annual_income  spending_score  Male
customer_id
11           0.942308       0.036036        0.132653   1.0
84           0.538462       0.351351        0.438776   0.0
127          0.480769       0.504505        0.346939   1.0
109          0.961538       0.432432        0.428571   1.0
176          0.230769       0.657658        0.867347   0.0
173          0.346154       0.648649        0.091837   1.0
61           1.000000       0.279279        0.561224   1.0
115          0.000000       0.450450        0.479592   0.0
131          0.557692       0.504505        0.081633   1.0
188          0.192308       0.774775        0.683673   1.0
148          0.269231       0.558559        0.744898   0.0
108          0.692308       0.432432        0.459184   1.0
113          0.384615       0.441441        0.418367   0.0
137          0.500000       0.522523        0.061224   0.0
100          0.038462       0.414414        0.489796   1.0
175          0.653846       0.657658        0.122449   0.0
136          0.211538       0.522523        0.887755   0.0
9            0.884615       0.036036        0.020408   1.0
21           0.326923       0.081081        0.346939   1.0
165          0.615385       0.630631        0.255102   1.0
123          0.423077       0.486486        0.581633   0.0
99           0.576923       0.414414        0.418367   1.0
183          0.538462       0.747748        0.142857   1.0
142          0.269231       0.540541        0.938776   1.0
150          0.307692       0.567568        0.908163   1.0
117          0.865385       0.450450        0.428571   0.0
86           0.576923       0.351351        0.459184   1.0
53           0.250000       0.252252        0.540816   0.0
111          0.903846       0.432432        0.520408   1.0
178          0.173077       0.657658        0.693878   1.0
105          0.596154       0.423423        0.561224   1.0
77           0.519231       0.351351        0.530612   0.0
164          0.250000       0.594595        0.938776   0.0
60           0.673077       0.279279        0.459184   1.0
169          0.346154       0.648649        0.265306   0.0
158          0.230769       0.567568        0.785714   0.0
153          0.500000       0.567568        0.193878   0.0
38           0.230769       0.171171        0.734694   0.0
146          0.192308       0.558559        0.979592   1.0
163          0.019231       0.594595        0.040816   1.0

(array([[0.48076923, 0.2972973 , 0.5       , 0.        ],
        [0.69230769, 0.11711712, 0.13265306, 0.        ],
        [0.61538462, 0.25225225, 0.44897959, 0.        ],
        [0.75      , 0.35135135, 0.51020408, 1.        ],
        [0.26923077, 0.64864865, 0.63265306, 1.        ],
        [0.78846154, 0.7027027 , 0.13265306, 1.        ],
        [0.40384615, 0.56756757, 0.8877551 , 1.        ],
        [0.07692308, 0.37837838, 0.55102041, 0.        ],
        [0.09615385, 0.35135135, 0.52040816, 0.        ],
        [0.11538462, 0.40540541, 0.52040816, 1.        ],
        [0.96153846, 0.3963964 , 0.55102041, 0.        ],
        [0.69230769, 0.77477477, 0.23469388, 0.        ],
        [0.25      , 0.51351351, 0.71428571, 0.        ],
        [0.05769231, 0.        , 0.81632653, 1.        ],
        [0.63461538, 0.26126126, 0.5       , 0.        ],
        [0.32692308, 0.07207207, 0.98979592, 0.        ],
        [0.23076923, 0.75675676, 0.97959184, 1.        ],
        [0.03846154, 0.05405405, 0.66326531, 1.        ],
        [0.78846154, 0.5045045 , 0.10204082, 1.        ],
        [0.05769231, 0.16216216, 0.81632653, 0.        ],
        [0.30769231, 0.56756757, 0.        , 1.        ],
        [0.32692308, 0.7027027 , 0.90816327, 1.        ],
        [0.03846154, 0.52252252, 0.04081633, 1.        ],
        [0.38461538, 0.56756757, 0.76530612, 0.        ],
        [0.30769231, 0.79279279, 0.2244898 , 0.        ],
        [0.34615385, 0.79279279, 0.85714286, 0.        ],
        [0.11538462, 0.21621622, 0.65306122, 0.        ],
        [0.59615385, 0.42342342, 0.47959184, 0.        ],
        [0.07692308, 0.01801802, 0.76530612, 0.        ],
        [0.13461538, 0.51351351, 0.33673469, 0.        ],
        [0.28846154, 0.63963964, 0.95918367, 0.        ],
        [0.01923077, 0.43243243, 0.54081633, 0.        ],
        [0.76923077, 0.65765766, 0.14285714, 1.        ],
        [0.34615385, 0.64864865, 0.92857143, 1.        ],
        [0.55769231, 0.30630631, 0.41836735, 0.        ],
        [0.55769231, 0.56756757, 0.15306122, 0.        ],
        [0.25      , 0.4954955 , 0.7755102 , 0.        ],
        [0.42307692, 0.40540541, 0.39795918, 0.        ],
        [0.94230769, 0.28828829, 0.52040816, 0.        ],
        [0.17307692, 0.40540541, 0.5       , 0.        ],
        [0.78846154, 0.35135135, 0.46938776, 1.        ],
        [0.05769231, 0.35135135, 0.57142857, 0.        ],
        [0.55769231, 0.40540541, 0.46938776, 0.        ],
        [0.90384615, 0.20720721, 0.34693878, 0.        ],
        [0.25      , 0.09009009, 0.73469388, 1.        ],
        [0.80769231, 0.31531532, 0.48979592, 0.        ],
        [0.32692308, 0.03603604, 1.        , 0.        ],
        [0.92307692, 0.43243243, 0.5       , 0.        ],
        [0.69230769, 0.28828829, 0.59183673, 0.        ],
        [0.94230769, 0.42342342, 0.59183673, 1.        ],
        [1.        , 0.30630631, 0.55102041, 1.        ],
        [0.96153846, 0.2972973 , 0.47959184, 0.        ],
        [0.26923077, 0.73873874, 0.86734694, 0.        ],
        [0.36538462, 0.04504505, 0.12244898, 1.        ],
        [0.26923077, 0.2972973 , 0.46938776, 0.        ],
        [0.09615385, 0.12612613, 0.87755102, 0.        ],
        [0.71153846, 0.37837838, 0.58163265, 0.        ],
        [0.17307692, 0.22522523, 0.46938776, 0.        ],
        [0.32692308, 0.53153153, 0.7244898 , 0.        ],
        [0.65384615, 0.07207207, 0.28571429, 1.        ],
        [0.42307692, 0.5045045 , 0.95918367, 1.        ],
        [0.59615385, 0.16216216, 0.13265306, 0.        ],
        [0.28846154, 0.88288288, 0.07142857, 1.        ],
        [0.26923077, 0.52252252, 0.73469388, 1.        ],
        [0.51923077, 0.11711712, 0.31632653, 0.        ],
        [0.94230769, 0.35135135, 0.40816327, 1.        ],
        [0.21153846, 0.57657658, 0.83673469, 0.        ],
        [0.44230769, 0.75675676, 0.3877551 , 0.        ],
        [0.17307692, 0.46846847, 0.56122449, 1.        ],
        [0.23076923, 0.56756757, 0.73469388, 0.        ],
        [0.63461538, 0.46846847, 0.42857143, 0.        ],
        [0.01923077, 0.44144144, 0.45918367, 1.        ],
        [0.55769231, 0.25225225, 0.40816327, 1.        ],
        [0.19230769, 0.54954955, 0.39795918, 0.        ],
        [0.59615385, 0.21621622, 0.2755102 , 0.        ],
        [0.25      , 0.22522523, 0.41836735, 0.        ],
        [0.57692308, 0.21621622, 0.35714286, 1.        ],
        [0.73076923, 0.57657658, 0.34693878, 0.        ],
        [0.38461538, 0.35135135, 0.55102041, 1.        ],
        [0.        , 0.16216216, 0.92857143, 1.        ],
        [0.26923077, 0.40540541, 0.41836735, 0.        ],
        [0.75      , 0.54054054, 0.04081633, 0.        ],
        [0.36538462, 0.73873874, 0.31632653, 0.        ],
        [0.01923077, 0.45045045, 0.5       , 0.        ],
        [0.        , 0.2972973 , 0.59183673, 1.        ],
        [0.28846154, 0.24324324, 0.60204082, 1.        ],
        [0.57692308, 0.55855856, 0.35714286, 1.        ],
        [0.09615385, 0.00900901, 0.7755102 , 0.        ],
        [0.32692308, 0.05405405, 0.34693878, 0.        ],
        [0.30769231, 0.56756757, 0.21428571, 0.        ],
        [0.09615385, 0.02702703, 0.94897959, 0.        ],
        [0.32692308, 0.94594595, 0.79591837, 0.        ],
        [0.76923077, 0.04504505, 0.14285714, 0.        ],
        [0.17307692, 0.27927928, 0.51020408, 0.        ],
        [0.59615385, 0.45045045, 0.59183673, 0.        ],
        [0.13461538, 0.55855856, 0.1122449 , 1.        ],
        [0.61538462, 0.22522523, 0.55102041, 0.        ],
        [0.92307692, 0.43243243, 0.47959184, 1.        ],
        [0.03846154, 0.1981982 , 0.75510204, 0.        ],
        [0.        , 0.3963964 , 0.40816327, 1.        ],
        [0.40384615, 0.48648649, 0.91836735, 1.        ],
        [0.61538462, 0.46846847, 0.57142857, 0.        ],
        [0.78846154, 0.25225225, 0.60204082, 1.        ],
        [0.26923077, 1.        , 0.74489796, 1.        ],
        [0.09615385, 0.4954955 , 0.28571429, 0.        ],
        [0.48076923, 0.56756757, 0.16326531, 1.        ],
        [0.26923077, 0.79279279, 0.69387755, 0.        ],
        [0.01923077, 0.2972973 , 0.59183673, 1.        ],
        [0.11538462, 0.04504505, 0.7755102 , 0.        ],
        [0.59615385, 0.24324324, 0.52040816, 0.        ],
        [0.38461538, 0.88288288, 0.91836735, 0.        ],
        [0.44230769, 0.79279279, 0.16326531, 0.        ],
        [0.21153846, 0.22522523, 0.41836735, 0.        ],
        [0.01923077, 0.        , 0.3877551 , 1.        ],
        [0.25      , 0.01801802, 0.39795918, 0.        ],
        [0.05769231, 0.13513514, 0.73469388, 0.        ],
        [0.15384615, 0.42342342, 0.55102041, 1.        ],
        [0.40384615, 0.5045045 , 0.75510204, 1.        ]]),
 array([[0.94230769, 0.03603604, 0.13265306, 1.        ],
        [0.53846154, 0.35135135, 0.43877551, 0.        ],
        [0.48076923, 0.5045045 , 0.34693878, 1.        ],
        [0.96153846, 0.43243243, 0.42857143, 1.        ],
        [0.23076923, 0.65765766, 0.86734694, 0.        ],
        [0.34615385, 0.64864865, 0.09183673, 1.        ],
        [1.        , 0.27927928, 0.56122449, 1.        ],
        [0.        , 0.45045045, 0.47959184, 0.        ],
        [0.55769231, 0.5045045 , 0.08163265, 1.        ],
        [0.19230769, 0.77477477, 0.68367347, 1.        ],
        [0.26923077, 0.55855856, 0.74489796, 0.        ],
        [0.69230769, 0.43243243, 0.45918367, 1.        ],
        [0.38461538, 0.44144144, 0.41836735, 0.        ],
        [0.5       , 0.52252252, 0.06122449, 0.        ],
        [0.03846154, 0.41441441, 0.48979592, 1.        ],
        [0.65384615, 0.65765766, 0.12244898, 0.        ],
        [0.21153846, 0.52252252, 0.8877551 , 0.        ],
        [0.88461538, 0.03603604, 0.02040816, 1.        ],
        [0.32692308, 0.08108108, 0.34693878, 1.        ],
        [0.61538462, 0.63063063, 0.25510204, 1.        ],
        [0.42307692, 0.48648649, 0.58163265, 0.        ],
        [0.57692308, 0.41441441, 0.41836735, 1.        ],
        [0.53846154, 0.74774775, 0.14285714, 1.        ],
        [0.26923077, 0.54054054, 0.93877551, 1.        ],
        [0.30769231, 0.56756757, 0.90816327, 1.        ],
        [0.86538462, 0.45045045, 0.42857143, 0.        ],
        [0.57692308, 0.35135135, 0.45918367, 1.        ],
        [0.25      , 0.25225225, 0.54081633, 0.        ],
        [0.90384615, 0.43243243, 0.52040816, 1.        ],
        [0.17307692, 0.65765766, 0.69387755, 1.        ],
        [0.59615385, 0.42342342, 0.56122449, 1.        ],
        [0.51923077, 0.35135135, 0.53061224, 0.        ],
        [0.25      , 0.59459459, 0.93877551, 0.        ],
        [0.67307692, 0.27927928, 0.45918367, 1.        ],
        [0.34615385, 0.64864865, 0.26530612, 0.        ],
        [0.23076923, 0.56756757, 0.78571429, 0.        ],
        [0.5       , 0.56756757, 0.19387755, 0.        ],
        [0.23076923, 0.17117117, 0.73469388, 0.        ],
        [0.19230769, 0.55855856, 0.97959184, 1.        ],
        [0.01923077, 0.59459459, 0.04081633, 1.        ]]),
 array([[0.57692308, 0.40540541, 0.48979592, 1.        ],
        [0.42307692, 0.12612613, 0.30612245, 0.        ],
        [0.01923077, 0.27927928, 0.55102041, 1.        ],
        [0.61538462, 0.38738739, 0.45918367, 0.        ],
        [0.21153846, 0.11711712, 0.82653061, 1.        ],
        [0.46153846, 0.17117117, 0.16326531, 0.        ],
        [0.42307692, 0.35135135, 0.47959184, 1.        ],
        [0.80769231, 0.31531532, 0.56122449, 0.        ],
        [0.38461538, 0.5045045 , 0.75510204, 1.        ],
        [0.32692308, 0.11711712, 0.6122449 , 1.        ],
        [0.17307692, 0.56756757, 0.89795918, 0.        ],
        [0.34615385, 0.63063063, 0.75510204, 0.        ],
        [0.23076923, 0.03603604, 0.7244898 , 0.        ],
        [0.26923077, 0.54954955, 0.87755102, 0.        ],
        [0.98076923, 0.26126126, 0.45918367, 1.        ],
        [0.15384615, 0.35135135, 0.54081633, 1.        ],
        [0.03846154, 0.00900901, 0.05102041, 0.        ],
        [0.46153846, 0.63963964, 0.19387755, 1.        ],
        [0.01923077, 0.53153153, 0.09183673, 1.        ],
        [0.38461538, 0.46846847, 0.39795918, 0.        ],
        [0.42307692, 0.64864865, 0.12244898, 1.        ],
        [0.86538462, 0.2972973 , 0.51020408, 1.        ],
        [0.07692308, 0.04504505, 0.79591837, 1.        ],
        [0.51923077, 1.        , 0.2755102 , 0.        ],
        [0.36538462, 0.56756757, 0.        , 1.        ],
        [0.67307692, 0.16216216, 0.03061224, 1.        ],
        [0.32692308, 0.02702703, 0.05102041, 0.        ],
        [0.53846154, 0.09009009, 0.04081633, 0.        ],
        [0.05769231, 0.42342342, 0.41836735, 0.        ],
        [0.30769231, 0.38738739, 0.60204082, 0.        ],
        [0.13461538, 0.08108108, 0.73469388, 1.        ],
        [0.25      , 0.21621622, 0.6122449 , 0.        ],
        [0.34615385, 0.1981982 , 0.25510204, 0.        ],
        [0.21153846, 0.74774775, 0.8877551 , 0.        ],
        [0.11538462, 0.20720721, 0.92857143, 1.        ],
        [0.59615385, 0.35135135, 0.41836735, 0.        ],
        [0.09615385, 0.42342342, 0.40816327, 0.        ],
        [0.55769231, 0.94594595, 0.15306122, 0.        ],
        [0.80769231, 0.13513514, 0.03061224, 1.        ],
        [0.19230769, 0.64864865, 0.75510204, 1.        ]]))