In [1]:
import wrangle

import pandas as pd
import numpy as np

import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:20,.2f}'.format

In [2]:
df2 = wrangle.get_zillow()

In [3]:
df2 = wrangle.single_family(df2)

In [4]:
df2.bedrooms.value_counts()

 3.00    23296
 4.00    15202
 2.00     8314
 5.00     3964
 6.00      633
 1.00      610
 7.00      105
 8.00       23
 9.00        8
10.00        2
11.00        1
Name: bedrooms, dtype: int64

In [5]:
df2.shape

(52158, 58)

In [6]:
df = wrangle.wrangle_zillow()

DataFrame head:

   parcelid  basementsqft            bathrooms             bedrooms  \
0  14297519           NaN                 3.50                 4.00
1  17052889           NaN                 1.00                 2.00
2  14186244           NaN                 2.00                 3.00

     calculatedbathnbr  finishedfloor1squarefeet  \
0                 3.50                       NaN
1                 1.00                  1,465.00
2                 2.00                       NaN

   calculatedfinishedsquarefeet  finishedsquarefeet12  finishedsquarefeet13  \
0                      3,100.00              3,100.00                   NaN
1                      1,465.00              1,465.00                   NaN
2                      1,243.00              1,243.00                   NaN

   finishedsquarefeet15  ...   censustractandblock             logerror  \
0                   NaN  ... 60,590,630,072,012.00                 0.03
1                   NaN  ... 61,110,010,023,006.00                 0.06
2                   NaN  ... 60,590,218,022,012.00                 0.01

   transactiondate  airconditioningdesc  architecturalstyledesc  \
0       2017-01-01                  NaN                     NaN
1       2017-01-01                  NaN                     NaN
2       2017-01-01                  NaN                     NaN

   buildingclassdesc  heatingorsystemdesc  storydesc  \
0                NaN                  NaN        NaN
1                NaN                  NaN        NaN
2                NaN                  NaN        NaN

         propertylandusedesc  typeconstructiondesc
0  Single Family Residential                   NaN
1  Single Family Residential                   NaN
2  Single Family Residential                   NaN

[3 rows x 58 columns]
--------------
Shape:    (52158, 58)
---------------
Info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52158 entries, 0 to 77413
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52158 non-null  int64
 1   basementsqft                  47 non-null     float64
 2   bathrooms                     52158 non-null  float64
 3   bedrooms                      52158 non-null  float64
 4   calculatedbathnbr             52126 non-null  float64
 5   finishedfloor1squarefeet      4363 non-null   float64
 6   calculatedfinishedsquarefeet  52150 non-null  float64
 7   finishedsquarefeet12          51992 non-null  float64
 8   finishedsquarefeet13          0 non-null      float64
 9   finishedsquarefeet15          0 non-null      float64
 10  finishedsquarefeet50          4363 non-null   float64
 11  finishedsquarefeet6           158 non-null    float64
 12  fips                          52158 non-null  float64
 13  fireplacecnt                  7226 non-null   float64
 14  fullbathcnt                   52126 non-null  float64
 15  garagecarcnt                  17975 non-null  float64
 16  garagesqft                    17975 non-null  float64
 17  hashottuborspa                1514 non-null   float64
 18  latitude                      52158 non-null  float64
 19  longitude                     52158 non-null  float64
 20  lotsize                       51808 non-null  float64
 21  poolcnt                       11063 non-null  float64
 22  poolsizesum                   864 non-null    float64
 23  pooltypeid10                  443 non-null    float64
 24  pooltypeid2                   1071 non-null   float64
 25  pooltypeid7                   9976 non-null   float64
 26  propertycountylandusecode     52158 non-null  object
 27  propertyzoningdesc            33670 non-null  object
 28  rawcensustractandblock        52158 non-null  float64
 29  regionidcity                  51130 non-null  float64
 30  regionidcounty                52158 non-null  float64
 31  regionidneighborhood          18915 non-null  float64
 32  regionidzip                   52135 non-null  float64
 33  roomcnt                       52158 non-null  float64
 34  threequarterbathnbr           6715 non-null   float64
 35  unitcnt                       33695 non-null  float64
 36  yardbuildingsqft17            1932 non-null   float64
 37  yardbuildingsqft26            62 non-null     float64
 38  yearbuilt                     52118 non-null  float64
 39  numberofstories               14515 non-null  float64
 40  fireplaceflag                 81 non-null     float64
 41  structuretaxvaluedollarcnt    52089 non-null  float64
 42  tax_value                     52157 non-null  float64
 43  assessmentyear                52158 non-null  float64
 44  landtaxvaluedollarcnt         52157 non-null  float64
 45  taxamount                     52154 non-null  float64
 46  taxdelinquencyflag            2059 non-null   object
 47  taxdelinquencyyear            2059 non-null   float64
 48  censustractandblock           52049 non-null  float64
 49  logerror                      52158 non-null  float64
 50  transactiondate               52158 non-null  object
 51  airconditioningdesc           13601 non-null  object
 52  architecturalstyledesc        70 non-null     object
 53  buildingclassdesc             0 non-null      object
 54  heatingorsystemdesc           33810 non-null  object
 55  storydesc                     47 non-null     object
 56  propertylandusedesc           52158 non-null  object
 57  typeconstructiondesc          76 non-null     object
dtypes: float64(46), int64(1), object(11)
memory usage: 23.5+ MB
---------------
                  parcelid         basementsqft            bathrooms  \
count            52,158.00                47.00            52,158.00
mean         12,990,041.87               678.98                 2.30
std           3,214,874.04               711.83                 1.02
min          10,711,855.00                38.00                 0.00
25%          11,508,191.75               263.50                 2.00
50%          12,578,542.00               512.00                 2.00
75%          14,129,448.75               809.50                 3.00
max         167,639,152.00             3,560.00                13.00

                  bedrooms    calculatedbathnbr  finishedfloor1squarefeet  \
count            52,158.00            52,126.00                  4,363.00
mean                  3.31                 2.30                  1,546.88
std                   0.93                 1.02                    675.11
min                   1.00                 1.00                    184.00
25%                   3.00                 2.00                  1,151.00
50%                   3.00                 2.00                  1,411.00
75%                   4.00                 3.00                  1,760.00
max                  11.00                13.00                  6,912.00

       calculatedfinishedsquarefeet  finishedsquarefeet12  \
count                     52,150.00             51,992.00
mean                       1,923.07              1,925.22
std                        1,000.64              1,000.55
min                          152.00                152.00
25%                        1,268.00              1,270.00
50%                        1,659.00              1,661.00
75%                        2,306.00              2,309.00
max                       21,929.00             21,929.00

       finishedsquarefeet13  finishedsquarefeet15  ...      numberofstories  \
count                  0.00                  0.00  ...            14,515.00
mean                    NaN                   NaN  ...                 1.41
std                     NaN                   NaN  ...                 0.54
min                     NaN                   NaN  ...                 1.00
25%                     NaN                   NaN  ...                 1.00
50%                     NaN                   NaN  ...                 1.00
75%                     NaN                   NaN  ...                 2.00
max                     NaN                   NaN  ...                 6.00

             fireplaceflag  structuretaxvaluedollarcnt            tax_value  \
count                81.00                   52,089.00            52,157.00
mean                  1.00                  195,923.49           527,085.32
std                   0.00                  252,399.84           717,049.90
min                   1.00                      148.00             1,000.00
25%                   1.00                   77,161.00           194,058.00
50%                   1.00                  131,814.00           373,930.00
75%                   1.00                  226,093.00           618,613.00
max                   1.00                9,164,901.00        25,381,250.00

            assessmentyear  landtaxvaluedollarcnt            taxamount  \
count            52,158.00              52,157.00            52,154.00
mean              2,016.00             331,417.27             6,422.52
std                   0.00             526,428.88             8,325.47
min               2,016.00                 161.00                49.18
25%               2,016.00              76,251.00             2,660.95
50%               2,016.00             218,077.00             4,648.80
75%               2,016.00             408,134.00             7,371.19
max               2,016.00          22,335,500.00           290,998.06

        taxdelinquencyyear    censustractandblock             logerror
count             2,059.00              52,049.00            52,158.00
mean                 14.10  60,502,369,175,480.45                 0.02
std                   2.40   1,863,763,570,621.33                 0.18
min                   4.00  60,371,011,101,000.00                -4.66
25%                  14.00  60,374,013,031,023.00                -0.02
50%                  15.00  60,376,203,012,007.00                 0.01
75%                  15.00  60,590,423,252,009.00                 0.04
max                  99.00 483,030,105,084,015.00                 5.26

[8 rows x 47 columns]

In [7]:
df.shape

(52158, 30)

In [8]:
def summarize(df):
    print('DataFrame head: \n')
    print(df.head(3))
    print('--------------')
    print('Shape:   ', df.shape)
    print('---------------')
    print('Info:    \n')
    df.info()
    print('---------------')
    print(df.describe())

In [9]:
summarize(df)

DataFrame head:

   parcelid            bathrooms             bedrooms    calculatedbathnbr  \
0  14297519                 3.50                 4.00                 3.50
1  17052889                 1.00                 2.00                 1.00
2  14186244                 2.00                 3.00                 2.00

   calculatedfinishedsquarefeet  finishedsquarefeet12                 fips  \
0                      3,100.00              3,100.00             6,059.00
1                      1,465.00              1,465.00             6,111.00
2                      1,243.00              1,243.00             6,059.00

           fullbathcnt             latitude            longitude  ...  \
0                 3.00        33,634,931.00      -117,869,207.00  ...
1                 1.00        34,449,266.00      -119,281,531.00  ...
2                 2.00        33,886,168.00      -117,823,170.00  ...

   structuretaxvaluedollarcnt            tax_value       assessmentyear  \
0                  485,713.00         1,023,282.00             2,016.00
1                   88,000.00           464,000.00             2,016.00
2                   85,289.00           564,778.00             2,016.00

   landtaxvaluedollarcnt            taxamount   censustractandblock  \
0             537,569.00            11,013.72 60,590,630,072,012.00
1             376,000.00             5,672.48 61,110,010,023,006.00
2             479,489.00             6,488.30 60,590,218,022,012.00

              logerror  transactiondate  heatingorsystemdesc  \
0                 0.03       2017-01-01                  NaN
1                 0.06       2017-01-01                  NaN
2                 0.01       2017-01-01                  NaN

         propertylandusedesc
0  Single Family Residential
1  Single Family Residential
2  Single Family Residential

[3 rows x 30 columns]
--------------
Shape:    (52158, 30)
---------------
Info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52158 entries, 0 to 77413
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52158 non-null  int64
 1   bathrooms                     52158 non-null  float64
 2   bedrooms                      52158 non-null  float64
 3   calculatedbathnbr             52126 non-null  float64
 4   calculatedfinishedsquarefeet  52150 non-null  float64
 5   finishedsquarefeet12          51992 non-null  float64
 6   fips                          52158 non-null  float64
 7   fullbathcnt                   52126 non-null  float64
 8   latitude                      52158 non-null  float64
 9   longitude                     52158 non-null  float64
 10  lotsize                       51808 non-null  float64
 11  propertycountylandusecode     52158 non-null  object
 12  propertyzoningdesc            33670 non-null  object
 13  rawcensustractandblock        52158 non-null  float64
 14  regionidcity                  51130 non-null  float64
 15  regionidcounty                52158 non-null  float64
 16  regionidzip                   52135 non-null  float64
 17  roomcnt                       52158 non-null  float64
 18  unitcnt                       33695 non-null  float64
 19  yearbuilt                     52118 non-null  float64
 20  structuretaxvaluedollarcnt    52089 non-null  float64
 21  tax_value                     52157 non-null  float64
 22  assessmentyear                52158 non-null  float64
 23  landtaxvaluedollarcnt         52157 non-null  float64
 24  taxamount                     52154 non-null  float64
 25  censustractandblock           52049 non-null  float64
 26  logerror                      52158 non-null  float64
 27  transactiondate               52158 non-null  object
 28  heatingorsystemdesc           33810 non-null  object
 29  propertylandusedesc           52158 non-null  object
dtypes: float64(24), int64(1), object(5)
memory usage: 12.3+ MB
---------------
                  parcelid            bathrooms             bedrooms  \
count            52,158.00            52,158.00            52,158.00
mean         12,990,041.87                 2.30                 3.31
std           3,214,874.04                 1.02                 0.93
min          10,711,855.00                 0.00                 1.00
25%          11,508,191.75                 2.00                 3.00
50%          12,578,542.00                 2.00                 3.00
75%          14,129,448.75                 3.00                 4.00
max         167,639,152.00                13.00                11.00

         calculatedbathnbr  calculatedfinishedsquarefeet  \
count            52,126.00                     52,150.00
mean                  2.30                      1,923.07
std                   1.02                      1,000.64
min                   1.00                        152.00
25%                   2.00                      1,268.00
50%                   2.00                      1,659.00
75%                   3.00                      2,306.00
max                  13.00                     21,929.00

       finishedsquarefeet12                 fips          fullbathcnt  \
count             51,992.00            52,158.00            52,126.00
mean               1,925.22             6,049.12                 2.24
std                1,000.55                21.02                 0.99
min                  152.00             6,037.00                 1.00
25%                1,270.00             6,037.00                 2.00
50%                1,661.00             6,037.00                 2.00
75%                2,309.00             6,059.00                 3.00
max               21,929.00             6,111.00                13.00

                  latitude            longitude  ...              roomcnt  \
count            52,158.00            52,158.00  ...            52,158.00
mean         34,022,656.29      -118,193,993.63  ...                 1.90
std             274,019.69           356,491.85  ...                 3.15
min          33,340,620.00      -119,475,416.00  ...                 0.00
25%          33,826,935.25      -118,400,956.50  ...                 0.00
50%          34,023,601.50      -118,152,920.50  ...                 0.00
75%          34,187,412.50      -117,929,090.75  ...                 5.00
max          34,818,767.00      -117,554,636.00  ...                15.00

                   unitcnt            yearbuilt  structuretaxvaluedollarcnt  \
count            33,695.00            52,118.00                   52,089.00
mean                  1.00             1,963.46                  195,923.49
std                   0.00                23.10                  252,399.84
min                   1.00             1,878.00                      148.00
25%                   1.00             1,950.00                   77,161.00
50%                   1.00             1,961.00                  131,814.00
75%                   1.00             1,979.00                  226,093.00
max                   1.00             2,016.00                9,164,901.00

                 tax_value       assessmentyear  landtaxvaluedollarcnt  \
count            52,157.00            52,158.00              52,157.00
mean            527,085.32             2,016.00             331,417.27
std             717,049.90                 0.00             526,428.88
min               1,000.00             2,016.00                 161.00
25%             194,058.00             2,016.00              76,251.00
50%             373,930.00             2,016.00             218,077.00
75%             618,613.00             2,016.00             408,134.00
max          25,381,250.00             2,016.00          22,335,500.00

                 taxamount    censustractandblock             logerror
count            52,154.00              52,049.00            52,158.00
mean              6,422.52  60,502,369,175,480.45                 0.02
std               8,325.47   1,863,763,570,621.33                 0.18
min                  49.18  60,371,011,101,000.00                -4.66
25%               2,660.95  60,374,013,031,023.00                -0.02
50%               4,648.80  60,376,203,012,007.00                 0.01
75%               7,371.19  60,590,423,252,009.00                 0.04
max             290,998.06 483,030,105,084,015.00                 5.26

[8 rows x 25 columns]

In [10]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing' : prcnt_miss})
    rows_missing = rows_missing.reset_index().groupby(['num_cols_missing',
                'percent_cols_missing']).count().reset_index().rename(columns={'index' : 'count'})
    return rows_missing

In [11]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    prcnt_miss = num_missing / df.shape[0] * 100
    
    cols_missing = pd.DataFrame({'num_rows_missing' : num_missing,
                                 'percent_rows_missing' : prcnt_miss})
    return cols_missing

In [12]:
nulls_by_col(df)

                              num_rows_missing  percent_rows_missing
parcelid                                     0                  0.00
bathrooms                                    0                  0.00
bedrooms                                     0                  0.00
calculatedbathnbr                           32                  0.06
calculatedfinishedsquarefeet                 8                  0.02
finishedsquarefeet12                       166                  0.32
fips                                         0                  0.00
fullbathcnt                                 32                  0.06
latitude                                     0                  0.00
longitude                                    0                  0.00
lotsize                                    350                  0.67
propertycountylandusecode                    0                  0.00
propertyzoningdesc                       18488                 35.45
rawcensustractandblock                       0                  0.00
regionidcity                              1028                  1.97
regionidcounty                               0                  0.00
regionidzip                                 23                  0.04
roomcnt                                      0                  0.00
unitcnt                                  18463                 35.40
yearbuilt                                   40                  0.08
structuretaxvaluedollarcnt                  69                  0.13
tax_value                                    1                  0.00
assessmentyear                               0                  0.00
landtaxvaluedollarcnt                        1                  0.00
taxamount                                    4                  0.01
censustractandblock                        109                  0.21
logerror                                     0                  0.00
transactiondate                              0                  0.00
heatingorsystemdesc                      18348                 35.18
propertylandusedesc                          0                  0.00

In [13]:
nulls_by_row(df)

   num_cols_missing  percent_cols_missing  count
0                 0                  0.00  32130
1                 1                  3.33   1492
2                 2                  6.67    645
3                 3                 10.00  17285
4                 4                 13.33    546
5                 5                 16.67     25
6                 6                 20.00     30
7                 7                 23.33      4
8                 8                 26.67      1

In [14]:
def single_family(df):
    df=df[df.propertylandusedesc == 'Single Family Residential']
    df=df[df.unitcnt <= 1]

In [15]:
df.propertylandusedesc.value_counts()

Single Family Residential    52158
Name: propertylandusedesc, dtype: int64

In [16]:
single_family(df)

In [17]:
df.bedrooms.value_counts()

 3.00    23296
 4.00    15202
 2.00     8314
 5.00     3964
 6.00      633
 1.00      610
 7.00      105
 8.00       23
 9.00        8
10.00        2
11.00        1
Name: bedrooms, dtype: int64

In [18]:
df.shape

(52158, 30)

In [19]:
def handle_missing_values(df, prop_required_column=.5, prop_required_row=.75):
    threshold = int(round(prop_required_column * len(df.index), 0))
    df = df.dropna(axis=1, thresh = threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh = threshold)
    return df

In [20]:
df = handle_missing_values(df)

In [21]:
import wrangle_mall
import acquire
import prepare

from sklearn.preprocessing import MinMaxScaler


import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'acquire'

In [ ]:
df = wrangle_mall.get_mallcustomer_data()
df.shape

In [ ]:
df = wrangle_mall.detect_outliers(df)
df.shape

In [ ]:
df = wrangle_mall.mall_dummies(df)
df

In [ ]:
train, validate, test = wrangle_mall.split_mall(df)

In [ ]:
s_train, s_validate, s_test = wrangle_mall.mall_scaler(train, validate, test)

In [ ]:
s_validate